* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: CursedUil;
  src: url(CursedTimerULiL.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 575px;
  height: 385px;
  background-color: #1b244a;
  color: white;
  font-family: Verdana, sans-serif;
}
.screen {
  width: 155px;
  height: 120px;
  background-color: #080001;
  margin-top: 20px;
  font-family: CursedUil;
  color: #f94f6d;
  font-size: 90px;
}
p {
  padding-top: 15px;
}
button {
  background-color: #1b244a;
  border: 1px solid #9aabd8;
  border-radius: 5px;
  color: white;
  width: 45px;
  height: 45px;
  margin-top: 20px;
}
.btn {
  display: flex;
  justify-content: space-between;
}
